/* Entire Document */

/* *{
    border: 1px solid black
} */

/* Header */
header > nav > ul > li {
    background-color: rgb(152, 234, 236);
    border: 2px solid rgb(33, 60, 216);
}

/* Main */


/* Footer */
p {
    color: rgb(5, 5, 44); 
    
}